html,
body {
    margin: 0;
    padding: 0;
}
.line-clamp {
  height: 63px; /* Adjust based on your line-height and font-size */
  line-height: 1.5; /* Match your text's line-height */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-text-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Limits text to 6 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust line height */
  max-height: 9em; /* 6 lines * line-height */
  word-break: break-word;
}